body{
    background-color: #1F3C9E;
}

p.footer{
    text-align: right;
    padding: 70 0;
}

h1{
    background-color:chocolate;
    border-radius: 30px;
    width: 500px;
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    height:100px;
}

button.generer{
    border-radius: 30px;
    background-color: green;
    width: 80px;
    height: 35px;
}

button.generer:hover{
    width: 90px;
    height: 40px;
}

button.copier{
    border-radius: 30px;
    background-color: lightgreen;
    width: 80px;
    height: 35px;
}

button.copier:hover{
    width: 90px;
    height: 40px;
}