body {
    background-color: black;
}

p,h2,h3{
    color: white;
}

button{
    border-radius: 20px;
    width: 90px;
    height: 30px;
    background-color: greenyellow;
}

button.copy{
    width: 110px;
    height: 50px;
    background-color: greenyellow;
}

button:hover{
    background-color: grey;
}

footer{
    position: fixed;
    bottom: 0px;
    color : white
}